.AddGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3defc;
    margin: 40px auto;
    height: 80px;
    width: 80%;
    border-radius: 8px;
}
.titleGroup{
    font-size: 17px;
    font-weight: bold;
    color: rgb(85, 84, 84);
}
.inputGroup{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 4px;
    height: 30px;
    margin: auto 20px auto 10px;
   
}
.buttonGroup{
    border: none;
    background-color: #c4bce7;
    border-radius: 4px;
    height: 30px;
    padding: 0 10px;
}